@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<a class="btn btn-primary" asp-area="" asp-page="/Converter">Click here to navigate to home page</a>
